# PostgresSQL текущая БД
POSTGRES_DB=
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# PostgresSQL главная БД (для создания текущей БД)
POSTGRES_MAIN_DB=postgres
POSTGRES_MAIN_HOST=db
POSTGRES_MAIN_PORT=5432
POSTGRES_MAIN_USER=postgres
POSTGRES_MAIN_PASSWORD=

CORS_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
ALLOWED_HOSTS=localhost,127.0.0.1,testserver